li {
    list-style-type: none;
}

.completed input[type="text"] {
    text-decoration: line-through;
}

.todo-list li .edit {
    display: none;
}

.todo-list li.editing .edit {
    display: block;
    width: calc(100% - 43px);
    padding: 12px 16px;
    margin: 0 0 0 43px;
}